/* Documento CSS */

/* Tag's */

body, html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-image: url(imagens/984559.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

/* Class */

.principal {
    width:1000px;
    min-height: 100%;
    position: relative;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    text-shadow: 1px 1px 1px black;
}

.cabeçalho {
    height:100px;
}

.topo {
    float: left;
    background-color:rgba(21, 84, 126, 0.4);
    display: inline-block;
    width: 67%;
    height: 100%;
    color:whitesmoke;
    border-radius: 10px;
    text-align: justify;
}

.corpo {
    padding: 20px;
}

.barra-lateral {
    background-color:rgba(61, 73, 68, 0.4);
    color:whitesmoke;
    display: inline-block;
    width:33%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black;
}

.button {
    transition: rgba(64, 144, 235, 0.4) .5s;
    text-decoration: none;
}

.barra-lateral {
    float:right;
}

.conteudo {
    padding:20px;
}

.titulos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    text-shadow: 1px 1px 1px black;
}

.titulo-lateral {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    text-shadow: 1px 1px 1px black;
}

/* Id's */

#secoes ul {
    margin:0;
	padding:0;
    list-style:none;
}

#secoes ul li {
    display: inline-block;
}

#secoes ul li a:hover {
    color: whitesmoke;
    background-color: rgba(21, 84, 126, 0.4);
}

#secoes {
    float: left;
    background-color: rgba(21, 84, 126, 0.4);
    border-radius: 5px;
    margin-top:40px;
    margin-right:0;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black;
}

#secoes a {
    display: block;
    color: whitesmoke;
    padding:20px 20px;
    border-radius: 5px;
}

#inicio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#perfil {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10%;
    border-style: solid;
    border-color: rgba(21, 84, 126, 0.4);
    margin-left: auto;
    margin-right: auto
}

#assistir, #Big, #demon, #jogar, #linux {
    border-radius:10px;
    width: 100px; 
    height: 100px;
}

#contato ul { 
    margin:0;
	padding:0;
    list-style:none;
}

#contato ul li {
    display: inline-block;
    margin-right: 15px;
}

#contato {
    float:left;
    text-align: center;
    padding:20px 0px;
    width: 1000px;
    height: 100%;
}

#footer {
    clear: both;
    background-color: rgba(64, 144, 235, 0.4);
    color:whitesmoke;
    text-align: center;
    width: 100%
}

#usuario, #livros, #interrogaçao {
    max-width: 30px;
    max-height: 30px;
}

#instagram, #e-mail, #whatsapp {
    width: 40px; 
    height: 40px;
}